<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-jj2000"
    version="1.0.0">

    <name>JJ2000</name>
    <description>Cordova Plugin JJ2000</description>
    <license>Apache 2.0</license>
    <keywords>jj2000</keywords>
    <repo>https://github.com/bpiservices/cordova-plugin-jj2000.git</repo>
    <issue>https://github.com/bpiservices/cordova-plugin-jj2000/issues</issue>

    <js-module src="www/jj2000.js" name="JJ2000">
        <clobbers target="window.jj2000" />
    </js-module>
	
    <platform name="android">
    
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="JJ2000">
                <param name="android-package" value="com.gridler.imatch.JJ2000"/>
            </feature>
        </config-file>
        
        <source-file src="src/android/JJ2000.java" target-dir="src/com/gridler/iMatch" />
        <lib-file src="src/android/libs/jmrtd.jar" />
        <lib-file src="src/android/libs/jj2000_imageutil.jar" />

    </platform>
</plugin>